<div class="container">
	<div class="row featurette mb-5">
		<div
			class="row reveal">
			<!-- Texte -->
			<div class="col-lg-7 col-md-12 order-lg-2 mb-4">
				<h2 class="featurette-heading">Côté champs:
					<span class="text-muted">Culture bio et passionnée</span>
				</h2>
				<p class="lead">
					Sur nos terres, nous avons fait le choix d’une culture exclusivement biologique, respectueuse de l’environnement et du vivant. Nous cultivons avec soin plusieurs plantes aromatiques et médicinales : menthe poivrée, lavande fine, thym thymol, thym thujanol, hélichryse italienne, camomille romaine, romarin à camphre et ciste ladanifère.
					<br>
					Ces plantes ont été sélectionnées avec attention pour leur parfaite adaptation à notre terroir de Bias, pour les précieuses vertus de leurs huiles essentielles, pour leurs qualités mellifères, et bien sûr, pour le plaisir qu’elles nous procurent à les cultiver.
					<br>
					Le cycle des floraisons rythme la vie du champ :
																																													
																																													En avril et mai, le thym thujanol se pare de ses fleurs délicates, suivi du thym thymol.
																																													
																																													En juin, l’hélichryse italienne et la lavande prennent la relève, avec leurs parfums enchanteurs.
																																													
																																													En juillet, une première coupe de menthe poivrée est réalisée, avant une seconde en septembre.

					<br>
					Une fois récoltées, les sommités fleuries sont confiées à un distillateur expert qui en extrait des trésors : l’huile essentielle et l’hydrolat, purs concentrés des bienfaits de nos cultures.
				</p>
			</div>

			<!-- Image -->
			<div class="col-lg-5 col-md-12 order-lg-1 d-flex align-items-center">
				<img src="{{ asset('images/292585408_10229008866623795_9119417559069250301_n.jpg') }}" class="img-fluid-about mx-auto d-block rounded" alt="Champs d'hélichryse" style="max-height: 300px; width: 100%; object-fit: cover;">
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div
		class="row featurette reveal mb-5">
		<!-- Texte -->
		<div class="col-lg-7 col-md-12 mb-4">
			<h2 class="featurette-heading">Côté ruche:
				<span class="text-muted">un engagement artisanal et naturel
				</span>
			</h2>
			<p class="lead">
				Notre rucher se compose d’environ 25 ruches, un chiffre qui peut grimper jusqu’à 40 en été grâce à la création de nos propres essaims. En prélevant soigneusement des cadres dans nos ruches les plus populeuses, nous favorisons leur développement tout en respectant l’équilibre de chaque colonie.
																						
																						Selon les conditions météorologiques et les floraisons, nous pratiquons également la transhumance, déplaçant nos ruches pour offrir à nos abeilles un accès optimal aux ressources naturelles.
																						
																						En plus de produire un miel de qualité, nous élaborons une gamme de gourmandises artisanales. Chaque produit est conçu avec soin, selon nos propres recettes, dans le respect des traditions et de notre passion pour l’authenticité.
			</p>
		</div>

		<!-- Image -->
		<div class="col-lg-5 col-md-12 d-flex align-items-center">
			<img src="{{ asset('images/36114234_10216808605144883_333991521818771456_n.jpg') }}" class="img-fluid-about mx-auto d-block rounded" alt="Ruches" style="max-height: 300px; width: 100%; object-fit: cover;">
		</div>
	</div>
</div>
