<div class="row featurette mb-5">
	<div
		class="row reveal">
		<!-- Texte -->
		<div class="col-lg-7 col-md-12 order-lg-2 mb-4">
			<h2 class="featurette-heading">Côté champs ...
				<span class="text-muted">Culture bio exclusivement.</span>
			</h2>
			<p class="lead">
				Culture bio de Menthe Poivrée, Lavande fine, Thym Thymol, Thym Thujanol, Hélichryse Italienne, Estragon et Camomille Romaine.
								Les plantes ont été sélectionnées en fonction de leurs capacités d'adaptation à Bias, pour les vertus de leurs huiles essentielles, pour leurs qualités mellifères et enfin, pour le choix du cœur !
								En avril-mai, c'est la floraison du thym thujanol, suivie du thym thymol. En juin, l'hélichryse italienne et la lavande prennent le relais. En juillet, une première coupe de menthe poivrée est effectuée, puis une seconde en septembre.
								Une fois les sommités fleuries récoltées, elles sont envoyées à un distillateur pour en extraire l'huile essentielle et l'hydrolat.
			</p>
		</div>

		<!-- Image -->
		<div class="col-lg-5 col-md-12 order-lg-1 d-flex align-items-center">
			<img src="{{ asset('images/champs lavande.jpg') }}" class="img-fluid mx-auto d-block rounded" alt="Champs de lavande" style="max-height: 300px; width: 100%; object-fit: cover;">
		</div>
	</div>
</div>

<hr class="featurette-divider">

<div
	class="row featurette reveal mb-5">
	<!-- Texte -->
	<div class="col-lg-7 col-md-12 mb-4">
		<h2 class="featurette-heading">Côté ruche
			<span class="text-muted">environ 25 ruches.</span>
		</h2>
		<p class="lead">
			En été, le nombre de ruches peut s'élever à 40 puisque nous produisons nos propres essaims. En fonction de la météo et des floraisons, nous pratiquons la transhumance.
						En plus de notre production de miel, nous élaborons différentes gourmandises, réalisées de manière artisanale à partir de nos propres recettes.
		</p>
	</div>

	<!-- Image -->
	<div class="col-lg-5 col-md-12 d-flex align-items-center">
		<img src="{{ asset('images/ruches.webp') }}" class="img-fluid mx-auto d-block rounded" alt="Ruches" style="max-height: 300px; width: 100%; object-fit: cover;">
	</div>
</div>
