<div class="row featurette">
	<div class="row reveal">
		<div class="col-lg-7 col-md-12 mb-4">
			<h2 class="featurette-heading ">Qui suis-je ?
				<span class="text-muted">Mon histoire</span>
			</h2>
			<p class="lead">
				<strong>Marie Farjaud, apicultrice et productrice de plantes médicales bio pour l'huile essentielle</strong>
				Originaire de l'Allier, je suis arrivée dans le Lot et Garonne en 2014. Passionnée par la nature et le vivant, j’avais envie de mettre en place ma propre activité en lien avec l’animal et le végétal. C’est chose faite depuis la saison 2021 en reprenant 3ha à Bias dans le Lot et Garonne où j’ai réalisé mes 1ères plantations. Ayant débuté par l’apiculture, c’est tout naturellement que mon choix s’est porté sur la production de plantes médicinales et aromatiques valorisées en huiles essentielles permettant ainsi aux abeilles de bénéficier d’une floraison abondante, échelonnée et diversifiée. On débute par le thym (thymol et thujanol) aux propriétés antibactériennes, puis la lavande aux effets cicatrisants, apaisants et calmants, répulsifs pour les poux, et la menthe aux vertus rafraîchissantes, qui agit sur les troubles digestifs et les maux de tête. L’hélichryse italienne, reconnue pour son action contre les hématomes, n’est pas mellifère mais c’est ma plante de cœur et aussi la 1ère que j’ai utilisée à titre personnel, ça méritait bien un petit hommage !!! Choix non regretté tellement elle semble s’épanouir, une multitude d’insectes pollinisateurs investissent les plantes pendant la floraison qui laisse s’échapper un parfum envoûtant et le contraste des fleurs jaunes à côté du bleu des lavandes est magnifique.
			</p>
		</div>
		<div class="col-lg-5 col-md-12 d-flex align-items-center">
			<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('images/Marie.webp') }}" width="640" height="140" alt="Description de votre image">
		</div>
	</div>
</div>
