<div class="container">
	<div class="row featurette align-items-stretch mb-5">

		<div class="row reveal">
			<div class="col-lg-7 col-md-12 mb-4">
				<h2 class="featurette-heading ">
					Aromielis


					<span class="text-muted">: une passion au service de la nature</span>
				</h2>
				<p class="lead">

					<br>

					Marie Farjaud, apicultrice et productrice de plantes médicinales bio partage une histoire où nature et passion se rencontrent.
					<br>
					Originaire de l’Allier, je suis arrivée dans le Lot-et-Garonne en 2014, animée par l’envie de créer une activité mêlant le végétal et l’animal. C’est en 2021 que ce projet voit le jour, avec la reprise de 10 hectares à Bias, où j’ai réalisé mes premières plantations.
																													
																													Ayant commencé par l’apiculture, l’idée de cultiver des plantes médicinales et aromatiques s’est imposée naturellement. Ce choix permet non seulement de produire des huiles essentielles aux nombreuses vertus, mais aussi de garantir à mes abeilles une floraison abondante, diversifiée et échelonnée tout au long de l’année.
																													
																													Mes cultures reflètent un véritable engagement pour la nature :

					<br><strong>
						Thym (thymol et thujanol)
					</strong>: antibactérien, idéal pour protéger et renforcer.

					<br><strong>
						Lavande
					</strong>
					: cicatrisante, apaisante, calmante et répulsive pour les poux.

					<br>
					<strong>
						Menthe poivrée
					</strong>: rafraîchissante, parfaite contre les troubles digestifs et les maux de tête.

					<br><strong>
						Hélichryse italienne
					</strong>: ma plante de cœur, reconnue pour son action contre les hématomes. Bien qu’elle ne soit pas mellifère, son parfum envoûtant et ses fleurs jaunes éclatantes attirent une multitude de pollinisateurs et forment un sublime contraste avec le bleu des lavandes.

					<br><strong>
						Romarin à camphre :
					</strong>


					C’est ainsi que, dans le respect de la biodiversité et des saisons, je cultive une harmonie entre les plantes et les abeilles pour offrir des produits naturels et authentiques.
				</p>
			</div>
			<div class="col-lg-5 col-md-12 order-lg-1 d-flex align-items-center">
				<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid-marie mx-auto" src="{{ asset('images/Marie.webp') }}" width="640" height="140" alt="Description de votre image">
			</div>
		</div>
	</div>
</div>
