{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Aromielis
{% endblock %}

{% block body %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img class="bd-placeholder-img rounded-circle mt-3" src="{{ asset('images/essential-oil-6064331_640.jpg') }}" width="140" height="140" alt="Description de votre image">
			<title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
			<h2>Huiles essentielles</h2>
			<p>Découverez toute ma gamme d'huile essentielle bio.</p>
			<p>
				<a class="custom-btn" href="https://localhost:8000/huiles-essentielles" role="button">Voir produits &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="bd-placeholder-img rounded-circle mt-3" src="{{ asset('images/spray_hydrolat.jpg') }}" width="140" height="140" alt="Description de votre image">
			<title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
			<h2>Sprays hydrolats</h2>
			<p>Toute la gamme de spray hydrolat.
			</p>
			<p>
				<a class="custom-btn" href="https://localhost:8000/spray-hydrolat" role="button">Voir produits &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="bd-placeholder-img rounded-circle mt-3" src="{{ asset('images/recharges_hydrolat.jpg') }}" width="140" height="140" alt="Description de votre image">
			<title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>

			<h2>Recharges hydrolats</h2>
			<p>Liste des recharges hydrolats que je produis</p>
			<p>
				<a class="custom-btn" href="https://localhost:8000/recharges-hydrolats" role="button">Voir produits &raquo;</a>
			</p>
		</div>
	</div>
	<!-- /.row -->

	<!-- START THE FEATURETTES -->
	<h2>Nos produits phares</h2>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
		{% for p in products %}
			<div class="col mb-4">
				{% include "_partials/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>

	<hr class="featurette-divider">
	{% include "home/history.html.twig" %}
	<hr class="featurette-divider">
	{% include "home/about.html.twig" %}
	<hr class="featurette-divider">
	<div class="container reveal">
		{% include "shared/_testimonials.html.twig" %}
	</div>

{% endblock %}
{% block importmap %}
	{# do NOT call parent() #}

	{{ importmap(['app', 'FadeIn']) }}
{% endblock %}
