<section class="legal-page container py-5">
	<h1 class="text-center mb-4">Mentions Légales - Aromielis</h1>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Éditeur du site</h2>
		<ul class="list-unstyled">
			<li>
				<strong>Nom de l'entreprise :</strong>
				Farjaud Marie</li>
			<li>
				<strong>SIRET :</strong>
				79280496500038</li>
			<li>
				<strong>Adresse :</strong>
				Faouret 47300 Bias</li>
			<li>
				<strong>Email :</strong>
				<a href="mailto:contact@mariefarjaud.fr">contact@mariefarjaud.fr</a>
			</li>
			<li>
				<strong>Téléphone :</strong>
				06 51 79 42 97</li>
			<li>
				<strong>Création du site :</strong>
				Caméléon Solutions</li>
		</ul>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Hébergement</h2>
		<ul class="list-unstyled">
			<li>
				<strong>Hébergeur :</strong>
				Hostinger</li>
			<li>
				<strong>Adresse :</strong>
				Hostinger International Ltd., 61 Lordou Vironos Street, 6023 Larnaca, Chypre</li>
			<li>
				<strong>Email support :</strong>
				support@hostinger.com</li>
		</ul>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Responsabilité</h2>
		<p>Aromielis ne peut être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site.</p>
	</div>
</section>
