<a {% for attr, value in options | merge({class: 'btn btn-success ms-2'} ) %} {{ attr }}="{{ value }}" {% endfor %}>
	{{ title }}
	<span class="float-end ms-2">
		{% if sorted %}
			{% if direction == 'desc' %}
				<i class="fas fa-sort-down"></i>
			{% else %}
				<i class="fas fa-sort-up"></i>
			{% endif %}
		{% else %}
			<i class="fas fa-sort"></i>
		{% endif %}
	</span>
</a>
