/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/Open_Sans-Regular.woff2') format('woff2'),
       url('/assets/fonts/Open_Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  font-family: "Open Sans", serif;
  position: relative;
  height: 100%;
  text-decoration: none;
  list-style: none;
  background-color: #fff;
  overflow-x: hidden;
  max-width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

.custom-container {
  padding-left: 35px;  /* Ajustez la marge gauche */
  padding-right: 35px; /* Ajustez la marge droite */
}


/*--------------------------------------------------------------
#Cards
--------------------------------------------------------------*/

/* Styling des cartes */
.card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: none;
  display: flex;
  min-height: 450px; /* Hauteur minimale des cartes */
  height: 100%; /* La carte prend la hauteur de son conteneur sans débordement */
}

/* Styling du corps de la carte */
.card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Répartir les éléments en haut et bas de la carte */
  flex-grow: 1; /* Permet au contenu de s'ajuster à l'intérieur de la carte */
  overflow: hidden; /* Empêche tout débordement interne */
}

/* Limiter le titre */
.card-title {
  font-size: 1.25rem; /* Taille du titre plus petite */
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limite le titre à 4 lignes */
  line-clamp: 4; /* Limite le titre à 4 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Styling de l'image */
.card img {
  object-fit: cover; /* L'image couvre l'espace sans déformation */
  height: 250px; /* Limite la hauteur de l'image */
  width: 100%; /* L'image prend toute la largeur */
}

/* Limiter la description à 5 lignes */
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Limite la description à 5 lignes */
  line-clamp: 7; /* Limite la description à 5 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 1rem;
  height: calc(1.4em * 5); /* Limite la hauteur à 5 lignes */
}

/* Styling des boutons positionnés côte à côte */
.d-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: auto; /* Les boutons sont poussés vers le bas */
  overflow: hidden; /* Évite tout débordement de bouton */
}


/*--------------------------------------------------------------
#Boutons
--------------------------------------------------------------*/
.btn-custom {
  background-color: #dcdcbe;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
  background-color: #fefee2;
  color: black;
  
}

.btn-link {
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-link:hover {
  background-color: #fefee2;
  color: black;
}

/*--------------------------------------------------------------
# Customisation des boutons (boutons des card produits)
--------------------------------------------------------------*/
.custom-btn-primary {  /* Couleur d'en savoir plus'*/
  background-color: #6F4F28; 
  border-color: #6F4F28; 
  color: white; 
  border-radius: 5px; 
  padding: 8px 16px; 
  font-size: 14px; 
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s, border-color 0.3s; 
}

.custom-btn-primary:hover {
  background-color: rgba(201, 224, 26, 0.407);
  border-color: rgba(201, 224, 26, 0.407);
  color: #0d161b;
}

.custom-btn-success { /* Couleur d'ajouter au panier */
  background-color: #2C6B4F; 
  border-color: #2C6B4F; 
  color: white; 
  border-radius: 5px; 
  padding: 8px 16px; 
  font-size: 14px; 
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s, border-color 0.3s; 
}

.custom-btn-success:hover {
  background-color: rgba(201, 224, 26, 0.407);
  border-color: rgba(201, 224, 26, 0.407);
  color: #0d161b;
}


/*--------------------------------------------------------------
#Liens
--------------------------------------------------------------*/

a {
  color: #28a745;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  transition: color 0.3s ease; /* Transition pour l'effet de survol */
}

a:link {
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

.nav-item a {
  text-decoration: none;
  color: #333;
  position: relative;
  display: inline-block;
}

.fusion-secondary-header {
  color: #747474;
  font-size: 12px;
  height: 30px;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .fusion-secondary-header {
    display: none;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar-custom {
  background-color: #fefee2;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon {
  color: #000;
}

.navbar-custom .nav-link.active {
  color: #555;
}

.navbar-custom .nav-link {
  position: relative; 
  display: inline-block; 
  text-decoration: none !important; 
  color: #000 !important; /
}

.navbar-custom .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-custom .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  background: rgba(0, 0, 0, 0.097);
}

.navbar-custom .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-custom {
  background-color: #fefee2;
}

.footer-custom .text-dark {
  color: #000 !important;
}

.footer-custom a {
  text-decoration: none !important;
  color: #000 !important;
  position: relative;
  display: inline-block;
}

.footer-custom a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-custom a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  background: rgba(0, 0, 0, 0.097);
}

.footer-custom a:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Transparent noir pour le hover */
}

.footer-custom .copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(165deg, #fefee2, #acb6e5);
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.login-logo {
  width: 80px;
  margin-bottom: 1rem;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  font-size: 1rem;
  color: #888;
  margin-bottom: 2rem;
}

.form-control {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.form-check label {
  font-size: 0.9rem;
  color: #333;
}
.btn-login {
  background-color: #dcdcbe;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-login:hover {
  background-color: #acb6e5;
  transform: scale(1.05);
  color: black;
}

/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
/* Form Fields */
.form-control-login {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-control-login:focus {
  border-color: #6c757d;  /* Change this to match Bootstrap's default focus color */
  box-shadow: 0 0 5px rgba(108, 117, 125, 0.5); /* Subtle shadow for focus */
}

/* Submit Button */
.btn-dark {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #555;
}

/* Agreement Text */
.text-muted a {
  color: #265301;
  text-decoration: none;
}

.text-muted a:hover {
  text-decoration: underline;
}

.d-inline-flex {
  display: inline-flex;
  align-items: center;
}


/* Responsive Styling */
@media (max-width: 767px) {
  .row {
      flex-direction: column;
  }

  .col-md-6 {
      width: 100%;
  }
}


/*--------------------------------------------------------------
# Filtre de recherche
--------------------------------------------------------------*/.box {
  padding: 10px;
}

#collapseSections,
#collapseNavigation {
  height: 300px;
  margin-right: 0.3rem !important;
  overflow-y: scroll;
}

#collapseSections::-webkit-scrollbar,
#collapseNavigation::-webkit-scrollbar {
  width: 6px;
}

#collapseSections::-webkit-scrollbar-thumb,
#collapseNavigation::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

#collapseSections::-webkit-scrollbar-track,
#collapseNavigation::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 2px;
}

.box-label {
  color: #1d2939;
  font-size: 0.9rem;
  font-weight: 800;
}

.box-label .btn {
  background-color: #fff;
  padding: 0;
}

.box-label .btn:focus {
  box-shadow: none;
}

.box-label .btn:active,
.box-label .btn:hover {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
}

.filter {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.js-filter-sorting {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligne le contenu à gauche */
}

/*--------------------------------------------------------------
# Couleur badge catégories
--------------------------------------------------------------*/
.badge.category-huiles-essentielles {
  background-color: #007bff; 
  color: #fff;
}

.badge.category-recharges-hydrolats{
  background-color: #28a745; 
  color: #fff;
}

.badge.category-spray-hydrolat {
  background-color: #ffc107; 
  color: #000;
}

.badge.category-coffret {
  background-color: #17a2b8;
  color: #fff;
}

/*--------------------------------------------------------------
# Page product_display
--------------------------------------------------------------*/
.text-custom {
  color: #333;
  text-align: center;
}



/* Style spécifique pour le bouton "Tout effacer" */
.btn-reset {
  background-color: transparent; 
  border: 1px solid #ffd700;
  color: #ffd700;
}

.btn-reset:hover {
  background-color: #ffd700; 
  color: #000; 
}

/* Style spécifique pour le bouton "+" */
.btn-categories {
  color: #ffd700; 
  border: 1px solid #ffd700; 
}

.btn-categories:hover {
  background-color: #ffd700; 
  color: #000; 
}

/* Style spécifique pour le bouton "Filtrer" */
.btn-filter {
  background-color: rgba(201, 224, 26, 0.407); 
  color: #000; 
  border: 1px solid rgba(201, 224, 26, 0.407);
}

.btn-filter:hover {
  background-color: rgba(201, 224, 26, 0.407);
  border-color: rgba(201, 224, 26, 0.407);
}


/*--------------------------------------------------------------
# Page product_show
--------------------------------------------------------------*/

.product-card-details {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card-details .product-title {
  font-size: 1rem;
  font-weight: 600;
}

.product-card-details .product-price {
  color: #4caf50; /* Vert pour le prix */
}

.product-short-description {
  padding: 5px;
  font-size: 0.9rem;
}

/*--------------------------------------------------------------
  # Spinner
  --------------------------------------------------------------*/
  .is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 0.5;
    z-index: 4;
}
.is-loading .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
}

/*--------------------------------------------------------------
# order
--------------------------------------------------------------*/
.col-form-label {
  font-weight: bold;
  /* margin-bottom: 0.3em; */
}
.summary-label {
  display: block;
  padding: 7px 0;
}
#order .form-check {
  background-color: rgba(225, 232, 235, 0.295);
  padding: 1.5em 3em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
}
#order .form-check:hover {
  box-shadow: 0px 0px 10px 0.1rem rgba(0, 0, 0, 0.3);
}
.cart-summary {
  padding: 1em;
  background-color: rgba(225, 232, 235, 0.295);
  box-shadow: 0px 0px 5px 0.1rem rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  .testimonial {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px 40px;
  }
  @media screen and (max-width: 768px) {
    .testimonial {
      width: 80%;
      margin: 20px auto 40px;
      padding: 20px 20px 40px;
    }
  }