<p>Bonjour
	{{ order.user.fullname }},</p>

<p>Nous vous informons que l'état de votre commande (ID:
	{{ order.id }}) a été modifié. Le nouvel état est :
	<strong>{{ state }}</strong>.
</p>

<p>Merci de votre confiance !</p>
