<p>Bonjour
	{{ order.user.fullname }},</p>

<p>Votre commande #{{ order.reference }}
	a changé d'état :</p>
<p>
	<strong>Nouvel état :
	</strong>
	{{ order.getStateAsString() }}</p>

<p>Merci de votre confiance !</p>
